body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:Black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.clock{
    font-size: 100px;
    color:white;
}
